# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
.env
ENV/
env/

# Pytest cache
.cache/

# Python notebooks checkpoints
.ipynb_checkpoints

# IDE configurations
.idea/
.vscode/
*.iml

# Data
*.csv
*.h5
*.db
*.sqlite

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# PyTorch model files
*.pth
*.pt

# Other files
*.log