# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
wheels/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
venv/
.env
ENV/
env/

# PyInstaller
*.manifest
*.spec

# Testing
.cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE / Editor configurations
.idea/
.vscode/
*.iml

# Data files
*.csv
*.h5
*.db
*.sqlite
*.npy
*.pgn
opening_book.json

# PyTorch model files
*.pth
*.pt

# Logs
*.log

# Other
*.bak
*.swp
*.tmp
*.bin